---

---

<div class="decl">
  <slot />
</div>

<style>
  .decl {
    background-color: var(--sl-color-gray-6);
    border-bottom: 1px solid var(--sl-color-gray-5);
    overflow: auto;
    margin: 0;
    padding: 0 1em;
  }
</style>

<style is:global>
  .decl .expressive-code pre {
    border: none;
    background-color: transparent;
    font-size: 1rem;
  }

  .decl .expressive-code pre code .ec-line .code {
    padding: 0;
    line-height: 1.2;
  }

  .decl .expressive-code .copy {
    display: none;
  }
</style>
