---
import type { CxxRevision } from "@src/types";

interface Props {
  value: string;
  since: CxxRevision;
}

const { value, since } = Astro.props;
---

<>
  <td>{value}</td>
  <td class="ftm-since-cell">{since}</td>
  <td><slot /></td>
</>

<style>
  .ftm-since-cell {
    color: var(--cppdoc-color-revision);
  }
</style>
