---
import DocLink from "./DocLink.astro";

interface Props {
  name: string;
  bold?: boolean;
  displayName?: string;
  nolink?: boolean;
}

const { name, bold, displayName, nolink } = Astro.props;
const dest = `/cpp/named_req/${name}`;

const text = displayName ?? name;

const As = nolink ? Fragment : DocLink;
const asProps = nolink ? {} : { dest };
---

<As {...asProps}>
  <span class=`named-req${bold ? "-bold" : ""}`>
    {text}
  </span>
</As>

<style>
  .named-req {
    font-weight: normal;
    font-style: italic;
    font-family: Georgia, "DejaVu Serif", serif;
  }
  .named-req-bold {
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, "DejaVu Serif", serif;
  }
</style>
