---
import type { CRevision, CppRevision } from "@src/types";

interface Props {
  noBorder?: boolean;
  since?: CRevision | CppRevision;
  until?: CRevision | CppRevision;
}

const { noBorder, since, until } = Astro.props;
---

<span class={`revision ${noBorder ? '' : 'border'}`}>
  <slot />
  {since && <span class="revision-tag"> (since {since})</span>}
  {until && <span class="revision-tag"> (until {until})</span>}
</span>

<style>
  .revision {
    padding: 2px;
    border-radius: 4px;
  }

  .revision.border {
    border: 1px solid var(--sl-color-gray-4);
  }

  .revision > .revision-tag {
    font-size: var(--cppdoc-font-size-revision);
    color: var(--cppdoc-color-revision);
  }
</style>
