---

---

<div class="param-doc-list">
  <slot />
</div>

<style>
  .param-doc-list {
    display: grid;
    grid-template-columns: auto auto 1fr;
    row-gap: calc(var(--sl-content-gap-y) * 0.5);
    column-gap: 0.5em;
  }
</style>
